Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.18
PIL==1.1.7
PyYAML==3.10
Pygments==1.6
Werkzeug==0.9.4
backports.ssl-match-hostname==3.4.0.2
ipython==1.1.0
itsdangerous==0.23
matplotlib==1.1.1
mysql-connector-python==1.1.5
nltk==2.0.4
numpy==1.8.0
pyzmq==14.0.1
readline==6.2.4.1
requests==2.2.1
stevedore==0.13
tornado==3.2
urllib3==1.7.1
virtualenv==1.11
virtualenv-clone==0.2.4
virtualenvwrapper==4.2
wsgiref==0.1.2
