/*
***************************
General styling
***************************
*/
body {
  padding-top: 50px;
}

.nav > .active {
  text-shadow: 0 0 0.2em #b22, 0 0 0.2em #b22, 0 0 0.2em #b22;
}

.dark {
    background-image: url("../img/stressed_linen.png");
}

.well-dark {
  background-color: rgba(245,245,245,.2);
  box-shadow: inset 0 2px 2px rgba(0,0,0,.5);
}

.content {
  padding: 40px 15px;
  text-align: center;
}

.modal-backdrop.fade.in {
  opacity: 0.6;
  filter: alpha(opacity=50);
  z-index: 2500;
}

.navbar {
  z-index: 2000;
}

.modal {
  z-index: 3000;
}

.progress {
  position: relative;
  background-color: #777;
}

.progress-bar-grey {
  background-color: #200;
}

.progress-title,
.pull-right {
  color: white;
}

.progress-title {
  position: absolute;
  top: 0;
  left: 5px;
}

.pull-right {
  position: absolute;
  top: 0;
  right: 5px;
}


/*
***************************
Home page
***************************
*/
.top-search {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  /*padding: 10px;*/
  border-bottom: 1px solid #aaa;
  box-shadow: 0 3px 8px rgba(0,0,0,.4);
  z-index: 2000;
  background-color: rgba(255,255,255,.9);
  /*-webkit-filter: blur(2px);*/
}

.search-button {
  vertical-align: middle;
  display: inline-block;
}

#search-well {
  margin-top: 50px;
}

#poster-modal {
  position: relative;
}

.play-button {
  color: rgba(50,50,50,.8);
  position: absolute;
  text-decoration: none;
  left: 50%;
  top: 50%;
}

.play-button :hover {
  color: #b22;
}

.show-title {
  font-weight: bold;
}

.show-stats {
  float: right;
  color: #555;
}

/*
***************************
Watch page
***************************
*/
#player {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.player-up {
  padding-bottom: 150px;
}

.player-down {
  padding-bottom: 40px;
}

.pop-left {
  position: absolute;
  left: 0;
  bottom: 160px;
  max-width: 90%;
  padding: 5px 10px;
  /*background-image: url('../img/carbon_fibre.png');*/
  background-color: #111;
  border: 1px solid #555;
  border-left: none;
  box-shadow: 3px 3px 8px rgba(100,100,100,.6);
  z-index: 100;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #eee;
  text-align: left;
  white-space: nowrap;
  font-size: 125%;
/*  width: 90%;
  height: 50px;*/
}

.pop-left > button {
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
  color: white;
}

.navbar-fixed-bottom {
  background-color: #222222;
  border-color: #080808;
  color: #aaa;
  min-height: 40px;
}

.episode-toggle {
  /*padding: 10px;*/
  /*width: 100%;*/
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 40px;
  right: 40px;
  text-shadow: none;
}

.episode-toggle:hover {
  cursor: pointer;
  /*color: #b22;*/
  text-shadow: 0 0 0.2em #b22, 0 0 0.2em #b22, 0 0 0.2em #b22;
}

.episode-nav {
  display: inline-block;
  margin: 5px;
}

#episode-prev {
  float: left;
}

#episode-next {
  float: right;
}

.episode-list {
  /*position: absolute;*/
  width: 100%;
  height: 110px;
  background-image: url('../img/carbon_fibre.png');
  background-color: #333;
  box-shadow: inset 0 3px 6px rgba(10,0,0,.6);
  text-align: left;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.season-list {
  margin-left: 25px;
  height: inherit;
  display: inline-block;
}

.season-header {
  position: fixed;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: inherit;
  width: 20px;
  background-color: #222;
  font-weight: bold;
  font-size: large;
  z-index: 110;
  text-shadow: 0px -1px 0px #668337;
  border-right: 1px solid #111;
  cursor: pointer;
}

.episode-thumb {
  display: inline-block;
  padding-top: 8px;
}

.episode-video {
  padding-top: 8px;
  max-width: 120px;
  height: 90px;
  width: auto;
  background-color: #000;
}

.episode-active {
  border: 1px solid red;
  background: rgba(255,0,0,.5);
}

.caption {
  background-color: rgba(0,0,0,0.8);
  position: relative;
  bottom: 20px;
  height: 20px;
  z-index: 100;
}

/*
***************************
Contact page
***************************
*/
.links > ul {
  display: inline-block;
}

.links > ul i {
  padding-right: 5px;
}