{% extends "base.html" %}
{% block head %}
<title>About - Couchtube</title>

<!-- Required stylesheet -->
<link rel="stylesheet" href="static/deckjs/core/deck.core.css">

<!-- Extension CSS files go here. Remove or add as needed. -->
<link rel="stylesheet" href="static/deckjs/extensions/goto/deck.goto.css">
<link rel="stylesheet" href="static/deckjs/extensions/menu/deck.menu.css">
<link rel="stylesheet" href="static/deckjs/extensions/navigation/deck.navigation.css">
<link rel="stylesheet" href="static/deckjs/extensions/status/deck.status.css">
<link rel="stylesheet" href="static/deckjs/extensions/hash/deck.hash.css">
<link rel="stylesheet" href="static/deckjs/extensions/scale/deck.scale.css">

<!-- Style theme. More available in /themes/style/ or create your own. -->
<link rel="stylesheet" href="static/deckjs/themes/style/web-2.0.css">

<!-- Transition theme. More available in /themes/transition/ or create your own. -->
<link rel="stylesheet" href="static/deckjs/themes/transition/horizontal-slide.css">

<!-- Required Modernizr file -->
<script src="static/js/modernizr.custom.js"></script>

<!-- Custom slide styles -->    
<link rel="stylesheet" href="static/css/slides.css">
{% endblock %}
{% block content %}
<iframe class='deck-iframe' src="http://slid.es/sdelarquier/couchtube/embed" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% endblock %}
{% block scripts %}
<!-- Required JS files. -->
<script src="static/deckjs/core/deck.core.js"></script>

<!-- Extension JS files. Add or remove as needed. -->
<script src="static/deckjs/core/deck.core.js"></script>
<script src="static/deckjs/extensions/hash/deck.hash.js"></script>
<script src="static/deckjs/extensions/menu/deck.menu.js"></script>
<script src="static/deckjs/extensions/goto/deck.goto.js"></script>
<script src="static/deckjs/extensions/status/deck.status.js"></script>
<script src="static/deckjs/extensions/navigation/deck.navigation.js"></script>
<script src="static/deckjs/extensions/scale/deck.scale.js"></script>

<!-- Initialize the deck. You can put this in an external file if desired. -->
<script>
    $(document).ready(function() {
        resizeDeck();
    });
    $(window).resize(function() {
        resizeDeck();
    });
    function resizeDeck() {
        var $deck = $('.deck-iframe');
        $deck.css('width', $(window).width()-30);
        $deck.css('height', $(window).height()-70);
        $deck.css('margin-top', '20px');
    }
</script>
{% endblock %}