{% extends "base.html" %}
{% block head %}
<title>About - Couchtube</title>
{% endblock %}
{% block content %}
<iframe class='deck-iframe' src="http://slid.es/sdelarquier/couchtube/embed" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% endblock %}
{% block scripts %}
<!-- Initialize the deck. You can put this in an external file if desired. -->
<script type="text/javascript">
    $(document).ready(function() {
        resizeDeck();
    });
    $(window).resize(function() {
        resizeDeck();
    });
    function resizeDeck() {
        var $deck = $('.deck-iframe');
        $deck.css('width', $(window).width()-30);
        $deck.css('height', $(window).height()-70);
        $deck.css('margin-top', '20px');
        $deck.focus();
    }
</script>
{% endblock %}