{% extends "base.html" %}


{% block head %}
    <title>CouchTube</title>
    <link href="{{url_for('static', filename='css/typeahead.css')}}" rel="stylesheet">
{% endblock %}


{% block content %}
<!-- SEARCH BAR -->
<div class='top-search'>
  <div class='container-search'>
    <div class="input-show col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <input id="show-typeahead" class="typeahead" type="text" placeholder="TV show title">
    </div>
  </div>
</div>
<!-- /SEARCH BAR -->

<!-- SHOW LIST -->
<div class="row" id='search-well'>
<div class="col-md-10 col-md-offset-1">
  <div class="well">
    <div class="row" style='text-align: center;'>
      <!-- Macro to stack show posters and generate modals -->
      {% macro thumb(title, year, poster, episodes, ytcount, ppay, imgblob, title_iso) %}
        <div class="col-xs-6 col-sm-4 col-md-3 link-tooltip show-list-elem" data-toggle="tooltip" data-placement="top" title="{{ title }} ({{ year }})">
          <a data-toggle="modal" role="button" data-target="#modal-{{ title_iso }}" >
            <div style="position: relative;">
            {% if poster %}
              <img src="data:image/png;base64,{{ imgblob }}" alt="{{ title }} ({{ year }})" class="img-thumbnail show-poster-list">
            {%- else -%}
              <img src="static/img/thmb_def.svg" alt="{{ title }}" class="img-thumbnail">
            {%- endif -%}
            </div>
          </a>
        </div>
        <!-- Modal -->
        <div class="modal fade modal-show" id="modal-{{ title_iso }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ title }} ({{ year }})</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3 column-bar" style="text-align: left;">
                    <div class="container-bar">
                      <span>Episodes</span>
                      <span class="info-bar" data-name="{{ title }}" data-year="{{ year }}"></span>
                    </div>
                  </div>
                </div>
                <div class='row'>
                  <div class="col-md-6 col-md-offset-3">
                    <a href='watch?nm={{ title }}&yy={{ year }}' id='poster-modal'>
                      {% if poster %}
                      <img src="data:image/png;base64,{{ imgblob }}" alt="{{ title }}-{{ year }}" class="img-thumbnail show-poster" onError="this.src='static/img/thmb_def.svg';">
                      {%- endif -%}  
                      <span class="play-button icon-stack icon-3x link-tooltip" data-toggle="tooltip" data-placement="top" title="Start watching">
                        <i class="icon-sign-blank icon-stack-base"></i>
                        <i class="icon-youtube-play icon-light"></i>
                      </span>
                      <!-- <i class="play-button icon-youtube-play icon-4x link-tooltip" data-toggle="tooltip" data-placement="top" title="Start watching"></i> -->
                    </a>
                  </div>
                </div>
              </div>
            </div><!-- /.modal-content -->
          </div>
        </div><!-- /.modal -->
      {% endmacro %}
      <!-- /MACRO -->
      {% for show in series %}
        {{ thumb(show[0], show[1], show[2], show[3], show[4], show[5]|int(), show[9], show[8]) }}
      {% endfor %}
    </div>
  </div>
</div>
</div>
<!-- /SHOW LIST -->


<!-- Unknown show modal -->
<div class="modal fade" id="modal-alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-alert">
    <div class="modal-content">
      <div class="modal-body">
        <p>You've managed to find a show I don't know... Good for you!</p><p>Woud you like me to look for <span id='alert-show-title' style='font-weight: bold;'></span> on the web?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id='find-my-show'>Find it</button>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div><!-- /.modal -->
<!-- /Unknown show modal -->


<!-- Placeholder Modal -->
<div class="modal fade" id="modal-search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div>
</div><!-- /.modal -->
<!-- /Placeholder Modal -->
{% endblock %}


{% block scripts %}
<script src="static/js/hogan-2.0.0.js"></script>
<script src="static/js/typeahead.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="static/js/styling.js"></script>
<script src="static/js/data.js"></script>
<script type="text/javascript">
  $(window).resize(function() {
    $('.play-button').map(function(){
      $(this).css({
        "margin-left": - $(this).outerWidth()/2,
        "margin-top": - $(this).outerHeight()/2
      });
    });
    $(".show-poster").each(function() {
      $(this).css('max-height', 0.6*$(window).height());
    });
    $('.show-poster-list').each(function() {
      $(this).css('width', $(this).parents('.show-list-elem').width());
    });
    $('.column-bar').each(modalOnResize);
  });
  $(document).ready(function() {
    $('.link-tooltip').tooltip();
    $(window).resize();
    // Search typeahead
    $('#show-typeahead').typeahead({
      name: 'tv-shows-search',
      valueKey: 'title',
      prefetch: {url: 'shows', ttl: 3600000},
    });
    // Size the search box
    $('.input-show').find('*').each( function() {
      $(this).css('box-sizing','content-box');
    });
    // Search send (press enter)
    $('#show-typeahead').keypress(function (e) {
      if (e.which == 13) {
        var show = $(this).val();
        getShow(show);
        return false;
      }
    });
    // Start show finder engine
    $('#find-my-show').click(addShow);
    // Modal info
    $('.modal-show').on('shown.bs.modal', modalOnShow);
  });
</script>
{% endblock %}
