{% extends "base.html" %}
{% block content %}
<div class="loading"><img src="static/img/ajax-loader.gif"></div>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/sebastiendelarquier" data-format="inline" data-related="false"></script>
<div class="links">
  <p>Additional links</p>
  <ul class="list-group">
    <li class="list-group-item"><i class="icon-github"></i><a href="https://github.com/sdelarquier">Github</a></li>
    <li class="list-group-item"><i class="icon-user"></i><a href="http://sebastien-de-larquier.blogspot.com/">Personal website</a></li>
    <li class="list-group-item"><a href="http://scholar.google.com/citations?user=620x9hsAAAAJ">Google Scholar</a></li>
    <li class="list-group-item"><i class="icon-twitter"></i><a href="https://twitter.com/S3bDL">Twitter</a></li>
    <li class="list-group-item"><i class="icon-google-plus"></i><a href="https://plus.google.com/101966930506481944758">Google+</a></li>
  </ul>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  window.onload = function () { 
    $('.loading').fadeOut('fast');
  };
</script>
{% endblock %}