{% extends "base.html" %}
{% block head %}
    <title>CouchTube</title>
{% endblock %}
{% block content %}
<div class="col-md-10 col-md-offset-1">
  <!-- Input search -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="input-group movies" style="margin: 0 5% 5% 5%;">
        <span class="input-group-addon"><i class="icon-search"></i></span>
        <input type="text" class="typeahead form-control" placeholder="TV show title (not yet working)">
      </div>
    </div>
  </div>
  <!-- Pre-generated links -->
  <div class="well">
    <div class="row" style='text-align: center;'>
      {% macro thumb(title, year, poster, episodes, ytcount) %}
        <div class="col-xs-6 col-sm-4 col-md-2">
          <a href="watch?show={{ title }}&year={{ year }}" data-toggle="tooltip" data-placement="top" data-original-title="{{ title }} ({{ year }}) - {{ ytcount }}/{{ episodes }}" class="link-tooltip">
            <div style="position: relative;">
            {% if poster %}
              <img src="{{ poster }}" alt="{{ title }}-{{ year }}" class="img-thumbnail" onError="this.src='static/img/thmb_def.svg';">
            {%- else -%}
              <img src="static/img/thmb_def.svg" alt="{{ title }}" class="img-thumbnail">
              <div class="img-over">{{ title }} ({{ year }})</div>
            {%- endif -%}
            </div>
          </a>
        </div>
      {% endmacro %}
      {% for show in series %}
        {{ thumb(show[0], show[1], show[2], show[3], show[4]) }}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<!-- <script src="static/js/typeahead.js"></script> -->
<script type="text/javascript">
  $(document).ready(function() {
    $('.link-tooltip').tooltip()
  });
  // // single dataset
  // $('input.typeahead').typeahead({
  //   name: 'tv-shows',
  //   local: ["Grand Designs", "Top Gear"]
  // });
</script>
{% endblock %}
